<h3 class="col-lg-8">
  <%= @customer.last_name %> <%= @customer.first_name  %>さんの会員詳細</h3>
<div class="container">
  <div class="row m-5">

    <div class="col-10 offset-1">

      <table class="table ">
        <tr>
          <td>会員ID</td>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= @customer.last_name %></td>
          <td><%= @customer.first_name %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><%= @customer.last_name_kana %></td>
          <td><%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td>〒<%= @customer.postal_code %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
          <td>会員ステータス</td>
          <td>
          <% if @customer.is_deleted == true %>
            <span class="label label-danger">退会</span>
          <% else %>
            <span class="label label-info">有効</span>
          <% end %>
          </td>
        
      </table>
      <div class="col-md-5">
        <div id = "customer-action-btn">
          <%= link_to "　編集する　", edit_admin_customer_path(@customer), class: "btn btn-default btn-primary " %>
        </div>
      </div>
      <br></br>
      <div class="col-md-5">
        <div id = "orders-action-btn">
          <%= link_to "　注文履歴一覧を見る　", admin_orders_path, class: "btn btn-default btn-primary " %>
        </div>
      </div>
  </div>
</div>