<div class="title-area-cart">
  <h3><span class="order-info-title">ショッピングカート</span></h3>
</div>

<div class="container-fluid">
  <div class="row-sm-12 cart-info-table">

		<% if @cart_items.present?| %>
			
			<div id = destroyall_button>
			 <%= link_to " カートを空にする ", cart_items_destroy_all_path, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-danger" %>
			</div>
			<div>
			<table class="table table-bordered">
				<thead>
					<tr class="success">
						<th>商品名</th>
						<th>単価(税込)</th>
						<th>数量</th>
						<th>小計</th>
					</tr>
				</thead>
					<% total = 0 %>　<!--合計金額totalの初期化-->

				<tbody>
					
				<% if current_customer.cart_items.present? %> <!--カート内に商品があった場合-->

					<% @cart_items.each do |cart_item| %>
					<tr>
						<td>
							<%= image_tag cart_item.item.image, size: "50x50", format: 'jpeg' %>
							<%= cart_item.item.name %>
						</td>
						<td><%=  (cart_item.item.price * 1.1).floor %></td>
						<td><%= form_with model:cart_item, url: cart_item_path(cart_item.id), method: :patch, local:true do |f| %>
							  <%= f.text_field :amount %>
			       			  <%= f.submit :変更, class: "btn btn-primary" %>
							<% end %>
						</td>
						<td><% subtotal = ((cart_item.item.price*cart_item.amount)*1.1).to_i %>
         					<%= subtotal %> <!--小計を表示-->
         
						<td><%= link_to "削除する", cart_item_path(cart_item.id), method: :delete,data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-danger" %></td>
					</tr>
					<% end %>
				 <% end %>	
				</tbody>
			</table>
			</div>

			<div class="button-box">
				<div class="shopping-button">
					<%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %>
				</div>
				<div class="shopping-price-table">
					<table class="table table-bordered">
						<tr>
							<th class="success">合計金額</th>
							<td><%= total %></td>
						</tr>
					</table>
				</div>
			</div>

			<div class="order-button">
				<%= link_to "情報入力に進む", new_order_path, class: "btn btn-success btn-lg" %>
			<% else %>
			<div>
				<%= link_to "買い物を続ける", root_path, class: "btn btn-primary btn-lg" %>
			</div>
		<% end %>

　</div>
</div>