<div class="container-fluid">
  <div class="row-xs-12 row-box">
    
    <!--ジャンル検索-->
    <div class="col-xs-3 genre-search">
      <%= render 'public/items/genre_search', genres: @genres %>
    </div>
    <!--商品画像-->
    <div class="col-xs-4 item-image">
      <span class="image"><%= image_tag @item.image, size: "450x300", format: 'jpeg', alt: '商品画像', class: "img-responsive" %></span>
    </div>
    
    <!--商品説明-->
    <div class="col-xs-5 items">
      <h1 class="item-name"><%= @item.name %></h1>
      <p class="item-introduction"><%= @item.introduction %></p>
      <p><span class="item-price">￥<%= ((@item.price * 1.1).round(2)).ceil.to_s(:delimited) %></span>　(税込)</p>
      <div class="buttons"></div>

      <% if @item.is_active == true %>　<!--商品販売中の場合-->
      <%= form_with model: @cart_item, url: cart_items_path, method: :post, local: true do |f| %>
      
        <span class="col-xs-2">
          <%= f.select :amount, *[1..10], {include_blank: '個数選択'}, class: 'form-control' %></span>
          <%= f.hidden_field :item_id, :value => @item.id %>
           <!--第一引数にオブジェクト名item_id、第二引数部分にvalueで受け渡す値 @item.idを指定
            cartitem controllerの cart_items.find_by(item_id:に送ることができる-->
          <%= f.submit :カートに入れる, class: "btn btn-default btn-md btn-primary create-btn" %>
      <% end %>
      <% else %>
      <% end %>
    </div>
    
  </div>
</div>